<form action="/output">
  <div class="form-group">
    <label for="length">Length of package</label>
    <input id="length" name="length" class="form-control" type="text">
    <label for="width">Width of package</label>
    <input id="width" name="width" class="form-control" type="text">
    <label for="height">Height of package</label>
    <input id="height" name="height" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="1">Ground Shipping</label>
    <input type="radio" name="speed" value="1">
    <label for="2">Express Shipping</label>
    <input type="radio" name="speed" value="2">
    <label for="3">Overnight Shipping</label>
    <input type="radio" name="speed" value="3">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
